<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Lista de Cidades</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Pesquisa de Cidades </a>
			</div>
			<p class="navbar-text navbar-right">
				<a href="/cidades" class="navbar-link">Cidades</a>
				/
				<a href="/perguntas" class="navbar-link">Perguntas</a>
			</p>
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
			<h1>Cidades</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Adicionar cidade</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="nome">Nome: </label>
					<input id="cidade" style="min-width: 100px;" class="form-control" type="text" name="nome" placeholder="Nome da cidade">
				</div>
				<button id="adiciona" data-loading="enviando..." class="btn btn-default">
					<i class="fa fa-plus"></i>
					Adicionar cidade
				</button>
			</div>
		</div>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nome da cidade</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:attr="data-unique=${cidade.id}" th:each="cidade : ${cidades}">
					<td class="col-texto"><a th:href="'/cidades/'+${cidade.id}" th:text="${cidade.nome}">Porto Alegre</a></td>
					<td class="col-edita">
						<a class="btn btn-default editable" data-autotext="never" data-url="/cidades" data-type="text" th:attr="data-pk=${cidade.id},data-value=${cidade.nome}" data-title="Novo nome" href="#">
							<i class="fa fa-pencil"></i>
						</a>
					</td>
					<td class="col-deleta">
						<a class="btn btn-warning" data-loading="apagando" href="#">
							<i class="fa fa-trash-o"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
	<script type="text/javascript">
		var idDoInput = "#cidade";
		var urlAjax = "/cidades";
		var parametroTexto = "cidade";
		var linha = "<tr> <td class=\"col-texto\"></td>";
		linha += "	<td class=\"col-edita\">";
		linha += "		<a class=\"btn btn-default editable\" style=\"white-space: normal !important;\" data-name=\"cidade\" data-url=\"\/cidades\" data-autotext=\"never\"";
		linha += "			data-type=\"text\" data-title=\"Novo nome\" href=\"#\">";
		linha += "			<i class=\"fa fa-pencil\"><\/i>";
		linha += "		<\/a>";
		linha += "	<\/td>";
		linha += "	<td class=\"col-deleta\">";
		linha += "		<a class=\"btn btn-warning\" data-loading=\"apagando\" href=\"#\">";
		linha += "			<i class=\"fa fa-trash-o\"><\/i>";
		linha += "		<\/a>";
		linha += "	<\/td></tr>";

		$.fn.editable.defaults.ajaxOptions = {
			type : "PUT"
		};

		$.fn.editable.defaults.display = function(value) {
			var link = $("<a></a>");
			link.text(value);
			var id = $(this).closest("tr").first().attr("data-unique");
			link.attr("href","/cidades/"+id)
			$(this).closest("tr").find(".col-texto").first().html(link);
		}
		$(".editable").editable();

		var deleta = function(event) {
			event.preventDefault();
			var id = $(event.currentTarget).closest("tr").first().attr("data-unique");
			if (!confirm("Tem certeza que quer apagar o item com ID " + id))
				return;
			$.ajax({
				url : urlAjax,
				type : "delete",
				data : {
					id : id
				},
				beforeSend: function( jqXHR, settings ) {
					$(event.currentTarget).button('loading');
				},
				success : function(data, textStatus, jqXHR) {
					$(event.currentTarget).closest("tr").remove();
				},
				complete: function() {
					$(event.currentTarget).button('reset');
				}
			});
		}

		var deletaClick = function(event) {
			deleta(event);
		};

		var insere = function(event) {
			event.preventDefault();
			
			var entrada = $(idDoInput).first().val();
			if (!entrada || entrada.length == 0) {
				alert("Digite um nome para o item!");
				return;
			} else {
				console.log("criando item " + entrada);
			}
			var dados = {};
			dados[parametroTexto] = entrada;
			
			$.ajax({
				url : urlAjax,
				type : "post",
				data : dados,
				beforeSend: function( jqXHR, settings ) {
					$(event.currentTarget).button('loading');
				},
				success : function(data, textStatus, jqXHR) {
					inserir = $(linha);
					inserir.attr("data-unique", data);
					inserir.find(".col-texto").first().text(entrada);
					inserir.find(".col-edita").first().find("a").attr({
						'data-value' : entrada,
						'data-pk' : data
					}).editable();
					inserir.find(".col-deleta").first().find("a").click(
							deletaClick);
					if ($("tbody").find("tr").first().length>0) 
						$("tbody").find("tr").first().before(inserir);
					else
						$("tbody").append(inserir);
					$(idDoInput).first().val("");
				},
				complete: function() {
					$(event.currentTarget).button('reset');
				}
			});
		}

		$(".col-deleta a").click(deletaClick);
		$("#adiciona").click(insere);
	</script>
</body>
</html>