<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Lista de Cidades</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Pesquisa de Cidades </a>
			</div>
			<p class="navbar-text navbar-right">
				<a href="/cidades" class="navbar-link">Cidades</a>
				/
				<a href="/perguntas" class="navbar-link">Perguntas</a>
			</p>
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
			<h1 th:text="${cidade.nome}">Nome de Cidade</h1>
		</div>
		<button data-loading="salvando..." class="salvaTudo right btn btn-default">
			<i class="fa fa-floppy-o"></i>
			Salvar todas perguntas
		</button>
		<h3> Respostas da cidade de <span th:text="${cidade.nome}">Porto Alegre</span>
		</h3>
		<div class="panel panel-default" th:each="pergunta : ${perguntas}">

			<div class="panel-heading">
				<span th:text="${pergunta.descricao}">Enunciado de pergunta</span>
				<span>
					(
					<a th:href="'/perguntas/'+${pergunta.id}">editar alternativas</a>
					)
				</span>
			</div>
			<div class="panel-body">
				<form>
					<input type="hidden" th:name="perguntas" th:value="${pergunta.id}" />
					<div class="form-group">
						<div class="radio" th:each="alternativa : ${pergunta.alternativas}">
							<label>
								<input type="checkbox" th:name="alternativas" th:value="${alternativa.id}" th:attr="checked=${alternativas.contains(alternativa)}">
								<span th:text="${alternativa.descricao}">Texto da alternativa</span>
							</label>
						</div>
						<button data-loading="salvando..." class="salva btn btn-default">
							<i class="fa fa-floppy-o"></i>
							Salvar pergunta
						</button>
					</div>
				</form>
			</div>
		</div>
		<button data-loading="salvando..." class="salvaTudo btn btn-default">
			<i class="fa fa-floppy-o"></i>
			Salvar todas perguntas
		</button>

	</div>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
	<script type="text/javascript">
		$.fn.serializeObject = function() {
			"use strict";
			var a = {}, b = function(b, c) {
				var d = a[c.name];
				"undefined" != typeof d && d !== null ? $.isArray(d) ? d
						.push(c.value) : a[c.name] = [ d, c.value ]
						: a[c.name] = c.value
			};
			return $.each(this.serializeArray(), b), a
		};

		$.fn.setButtonClass = function(className) {
			console.log(this);
			$(this).removeClass("btn-default");
			$(this).removeClass("btn-warning");
			$(this).removeClass("btn-success");
			$(this).removeClass("btn-error");
			$(this).addClass(className);
		}

		$("input").change(
				function(event) {
					$(event.target).closest(".form-group").first().find(
							".salva").setButtonClass("btn-warning");
					$(".salvaTudo").setButtonClass("btn-warning");
				});

		var salvar = function(event, tudo) {
			event.preventDefault();
			var botoes = $(event.target);

			if (tudo) {
				botoes = $(".salva").add(".salvaTudo");
			}
			var dados = $(event.target).closest("form").first()
					.serializeObject();
			if (tudo) {
				dados = $("form").serializeObject();
			}
			if (typeof dados.alternativas == "string")
				dados.alternativas = [ dados.alternativas ];
			if (typeof dados.perguntas == "string")
				dados.perguntas = [ dados.perguntas ];
			$.ajax({
				url : location.href,
				type : 'POST',
				data : dados,
				beforeSend : function(jqXHR, settings) {
					botoes.button('loading');
				},
				error : function(data, textStatus, jqXHR) {
					botoes.setButtonClass("btn-error");
				},
				success : function(data, textStatus, jqXHR) {
					botoes.setButtonClass("btn-success");
				},
				complete : function(jqXHR, textStatus) {
					botoes.button('reset');
					if(!tudo && $(".salva.btn-warning").length==0 && $(".btn-error").length==0){
						$(".salvaTudo").setButtonClass("btn-default");
					}
				}
			});
		};
		$(".salva").click(salvar);
		$(".salvaTudo").click(function(event) {
			salvar(event, true);
		});
		window.onbeforeunload = function() {
			if ($(".btn-warning").length > 0)
				return "Você esqueceu de salvar algumas mudancas! Tem certeza que quer sair?";
		}
	</script>
</body>
</html>